{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add Movie {% endblock %}</h1>


<form method="post" class="w-3/4 mx-auto">
  <div class="mb-6">
    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Movie Title</label>
    <input type="text" id="title" name="title" value="{{ request.form['title'] }}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
      placeholder="Black Panther" required>
  </div>
  <div class="mb-6">
    <label for="link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Movie Link</label>
    <input type="text" id="link" name="link" value="{{ request.form['link'] }}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
      required>
  </div>

  <div class="mb-6">
    <label for="genre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genre</label>
    <input type="text" id="genre" name="genre" value="{{ request.form['genre'] }}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
      required>
  </div>

  <div class="mb-6">
    <label for="quality" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Quality</label>
    <select id="quality" name="quality"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5">
      <option selected>Choose Quality</option>
      <option value="HD">High Definition</option>
      <option value="CAM">Camera Copy</option>
      <option value="SD">SD</option>
    </select>
  </div>

  <button type="submit"
    class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Submit</button>
</form>

{% endblock %}
