{% extends 'base.html' %}

{% block content %}
<br>
<h1 class="font-thin text-2xl text-center text-violet-900 mb-5">
  {% block title %} Watch Movies and Tv Shows {% endblock %}
</h1>

<form method="post">
  <input type="text" id="search-navbar" name="search"
    class="block mx-auto p-3 pl-4 text-sm w-3/4 text-gray-900 border border-gray-100 rounded-lg bg-gray-50 focus:ring-violet-500 focus:border-violet-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-violet-500 dark:focus:border-violet-500"
    placeholder="Movie Search...">
</form>

<section>
  <!-- TODO: add movie carousel -->
</section>

<section class="px-4 py-24 mx-auto max-w-7xl">
  <h2 class="mb-3 text-xl font-thin text-center leading-tight text-purple-900">Recently Added</h2>
  <div class="grid grid-cols-2 gap-12 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
    {% for movie in movies%}
    <div>
      <a href="{{ url_for('movie', movie_id=movie['id'])}}">
        <img src="{{ movie_data(movie['id'])[1]}}" alt="movie poster"
          class="object-cover w-full h-100 mb-5 bg-center rounded" loading="lazy">
        <h2 class="mb-2 font-medium text-gray-900">{{movie['title']}}</h2>
      </a>
      <span
        class="bg-purple-100 text-purple-800 text-xs italic font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900">{{movie['genre']}}</span>

    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
