{% extends 'base.html' %}

{% block content %}
<div class="py-20 px-6">
  <section class="">
    <div class="aspect-w-16 aspect-h-9">
      <iframe src="https://sblongvu.com/e/{{ movie['link'] }}.html" title="{{movie['title']}}" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </section>

  <section class="py-12">
    <div class="max-w-sm w-full lg:max-w-full lg:flex ">
      <div
        class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
        style="background-image: url('{{ poster }}')" title="Woman holding a mug">
      </div>
      <div
        class="shadow-md bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <div class="text-gray-900 font-bold text-xl mb-2">{% block title %}{{ movie['title'] }} {% endblock %}</div>
          <p class="text-gray-700 text-base">{{ overview }}</p>
        </div>
        <div class="flex items-center">
          <div class="text-sm">
            <span
              class="bg-purple-100 text-purple-800 text-xs font-semibold mt-5 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900">{{movie['genre']}}</span>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
{% endblock %}
