{% extends 'base.html' %}

{% block content %}
<h1 class="font-thin text-2xl text-center text-violet-900 mb-5">
  {% block title %} Radio Streams {% endblock %}
</h1>


<form method="post">
  <input type="text" id="search-navbar" name="search"
    class="block mx-auto my-auto p-3 pl-4 text-sm w-3/4 text-gray-900 border border-gray-100 rounded-lg bg-gray-50 focus:ring-violet-500 focus:border-violet-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-violet-500 dark:focus:border-violet-500"
    placeholder="Radio Search...">
</form>

<section class="px-4 py-10 mx-auto max-w-7xl">
  {% if not radios %}
  <p class="text-gray-800 text-sm capitalize left-0 px-2 mb-2">No station match your search</p>
  {% else %}
  <p class="text-gray-800 text-sm capitalize left-0 px-2 mb-5">Results...</p>
  {% endif %}

  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4">
    {% for radio in radios %}

    <div class="mx-auto mb-4 text-center">
      <audio controls>
        <source src="{{ radio['url'] }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <p class="text-gray-800 text-xs capitalize left-0 px-2 mb-2">{{radio['name']}}</p>

    </div>

    {% endfor %}
  </div>
</section>

{% endblock %}
